$color-primaire: #9356dc;
$color-secondaire: #ff79da;
$color-tertiaire: #99e2d0;
$color-back-localisation: #eaeaea;
$color-back-gray: #f6f6f6;
$color-hover: #f5edff;
$color-text: #000000;
$color-white: #ffff;
$color-new: #038868;
$color-back-footer: #353535;
$color-heart: #a5a5a5;
