@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  padding: 0px 0px;
}

header {
  /*logo*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 20px 0;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.localisation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.localisation__wrapper i {
  color: #000000;
  margin-right: 10px;
}

.localisation__wrapper p {
  font-weight: 500;
}

.localisation::before {
  content: "";
  /* pour pour mettre un contenu ici il sera vide*/
  z-index: -1;
  /* pousser l'element derriere tous les enfants */
  position: absolute;
  /* positionne le bloc comme on veut */
  top: 0;
  left: 50%;
  /* pousser à 50% sur la gauche */
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  /* et tranformation vers la droite */
  width: 100vw;
  /* 100% de l'ecran et non du parent*/
  height: 100%;
  background-color: #eaeaea;
}

.section-search {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  background-color: #f6f6f6;
}

.section-search p {
  color: #949494;
  font-weight: 400;
}

.section-search .section-search__title {
  font-size: xx-large;
}

.section-search__decouverte {
  font-size: large;
}

.section-search button {
  margin: 10px 0px 40px 0;
  padding: 15px;
  border-radius: 40px;
  border: none;
  background-color: #9356dc;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  color: #ffff;
  cursor: pointer;
}

.section-menu {
  /* padding: 30px 20px;*/
  margin: 30px 20px;
}

.section-menu h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.section-menu .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px 20px 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: #f6f6f6;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.section-menu .card .number {
  position: absolute;
  text-align: center;
  border-radius: 20px;
  margin-left: -20px;
  padding-top: 2px;
  background-color: #9356dc;
  color: white;
  width: 25px;
  height: 25px;
}

.section-menu .card i {
  color: #7e7e7e;
  margin: 0 25px;
}

.section-menu .card p {
  font-weight: bold;
  font-size: 14px;
}

.section-menu .card:hover {
  background-color: #f5edff;
}

.section-menu .card:hover i {
  color: #9356dc;
}

.section-restaurant {
  position: relative;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px;
  /* ne peut pas etre retiré*/
  background-color: #f6f6f6;
}

.section-restaurant .restaurant {
  position: relative;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  background-color: #ffff;
  border-radius: 15px;
  margin-bottom: 20px;
}

.section-restaurant .restaurant .restaurant-card__image {
  height: 160px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0px;
}

.section-restaurant .restaurant .restaurant-card {
  text-decoration: none;
  color: #000000;
}

.section-restaurant .restaurant .restaurant-card__new {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px 10px;
  background-color: #99e2d0;
  color: #038868;
  font-size: 12px;
  font-weight: 600;
}

.section-restaurant .restaurant .restaurant-card .restaurant-card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-restaurant .restaurant .restaurant-card h3 {
  margin: 10px 10px 5px 10px;
  font-weight: 700;
  font-size: 16px;
}

.section-restaurant .restaurant .restaurant-card i {
  /*coeur*/
  position: absolute;
  right: 20px;
  margin-top: 15px;
  font-size: x-large;
  margin-right: 20px;
}

.section-restaurant .restaurant .restaurant-card .fa-heart::before {
  content: "\f004";
  /* specifie un text, img ou guillemets à insérer en tant que contenu */
  font-weight: bold;
  -webkit-transition: color 4s ease-out;
  transition: color 4s ease-out;
}

.section-restaurant .restaurant .restaurant-card .fa-heart:hover::before {
  color: #9356dc;
  /*background-color: linear-gradient(70deg, #ba62db, pink);*/
}

.section-restaurant .restaurant .restaurant-card p {
  margin: 0px 10px 10px 10px;
  font-weight: 300;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  padding: 20px;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  width: 100vw;
  background: #353535;
}

footer .footer-logo {
  width: 30%;
  /* defini la largeur du logo */
  margin-bottom: 20px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  /* filter change la couleur  et invert inverse l'echantillon dans image */
}

footer .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer i {
  color: #ffff;
  margin-right: 10px;
}

footer .footer__nav {
  text-decoration: none;
  margin-bottom: 10px;
  color: #ffff;
  font-size: small;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */